<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    
    <add key="tickerWatchServer" value="tcp://localhost:4444" />
    
    <add key="pubSubServer" value="tcp://localhost:5555" />
    
    <add key="snapShotServer" value="tcp://localhost:3333" />
    
    <add key="fleckHost" value="localhost" />
    <add key="fleckPort" value="2222" />
    <add key="restServicePort" value="2223"/>
    
    <add key="serverRefreshMillis" value="1000" />
    
    <add key="startupTickers" value="MSFT,GOOG,AAPL,GS" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.4.14350" newVersion="2.6.4.14350" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>