<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="tickerWatchServer" value="tcp://localhost:4444"/>
    <add key="pubSubServer" value="tcp://localhost:5555"/>
    <add key="snapShotServer" value="tcp://localhost:3333"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>